{%extends 'base.html'%}
{% load crispy_forms_tags%}
{% block title %} {{post.title}} {% endblock title %}

{% block content %}
{%with comment.count as total_comment%}
<h2>
    {{total_comment}}
</h2>
{% endwith %}

<h1>{{post.title}}</h1>

{%if post.image%}
<img src='{{post.image.url}}' alt="">
{% endif %}

<p class="date">
Published {{post.publish}} by {{post.author}}
</p>
{{post.body|linebreaks}}
<div class="container">
    {%with comment.count as total_comment%}
    <h2>
        {{total_comment}} comment {{total_comment|pluralize}}
    </h2>
    {%endwith %}

    {%for comment in comments%}
    <div class="comment">
        <p class="info">
            comment {{ forloop.counter }} by {{comment.name}} {{comment.created}}
        </p>
        {{comment.body|linebreaks}}
    </div>
    {%empty%}
    <p> there are no comments </p>
    {%endfor%}
    {% if new_comment %}
    <h2> Your comment has been added</h2>
    {% else %}
    <h2>Add a new comment</h2>
    <from method="Post">
        {{comment_form|crispy}}

    {% csrf_token %}
    <p><input type="submit" value="add comment"></p>
    </from>
    {% endif %}
</div>
{% endblock content %}