body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 70px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 70px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
 /* *{
  box-sizing: border-box;
}  */

.zoom {
  padding: 20px;
  transition: transform .2s;
  width: 20px;
  height: 20px;
  margin-right: 0 auto;
} 

 .zoom:hover {
  -ms-transform: scale(1.5); /*IE 9*/
-webkit-transform: scale(1.5); /*Safari 3-8  */
  transform: scale(1.5); 
} 
.zoom >img{
    height: 40px;
    width: 40px;
}

/* my photo section */
.w3-half{
      padding:  30px;
      transition: transform .2s;
}

.w3-half:hover{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}